

body{
    padding: 0;
    margin: 0;
    background-color: hsl(221, 100%, 96%);
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-inline: auto;
}

.wrapper{
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    
}

.result-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-container{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 40px;
    padding: 30px 50px;
    max-width: 300px;
    color: hsl(241, 100%, 89%);
}

.result-container > h3{
    text-align: center;
}

.result-container > h1{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
}

.result-container > h3{
    padding-inline: 20px;
}

.result-container .grade-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block-end: 15px;
    margin-block-start: 20px;
}

.result-container .grade-container{
    width:60%;
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.result-container .grade-container > h1{
    font-size: 70px;
    color: hsl(0, 0%, 100%);
    margin-block-end: 0;
    margin-block-start: 25px;
}

.result-container .grade-container > p{
    margin-block-start: 0;
}

/* summary-container */

.summary-container{
    padding: 30px;
    width: 300px;
    max-width: 300px;
}

.summary-container > h2{
    color: hsl(224, 30%, 27%);
}

.summary-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-item-description{
    display: flex;
    gap: 10px;
}

.summary-container .summary-item > h3 span{
    color: hsl(225, 16%, 71%)
}

.summary-container .summary-item{
    padding-inline: 10px;
    border-radius: 15px;
    margin-block-end: 15px;
}

.summary-container .summary-item:nth-child(2) {
    background: hsl(0, 100%, 67%, 0.1);
}

.summary-container .summary-item:nth-child(2) .summary-item-description h3{
    color: hsl(0, 100%, 67%);
}

.summary-container .summary-item:nth-child(3) {
    background: hsl(39, 100%, 56%, 0.1);
}

.summary-container .summary-item:nth-child(3) .summary-item-description h3{
    color: hsl(39, 100%, 56%);
}

.summary-container .summary-item:nth-child(4) {
    background: hsl(166, 100%, 37%, 0.1);
}

.summary-container .summary-item:nth-child(4) .summary-item-description h3{
    color: hsl(166, 100%, 37%);
}

.summary-container .summary-item:nth-child(5) {
    background: hsl(234, 85%, 45%, 0.1);
}

.summary-container .summary-item:nth-child(5) .summary-item-description h3{
    color: hsl(234, 85%, 45%);
}

.summary-container > button{
    color: hsl(0, 0%, 100%);
    /* background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
    background: hsl(224, 30%, 27%);
    margin-block-start: 20px;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.summary-container > button:active{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 720px){

    .wrapper{
        flex-direction: column;
    }

    .result-container{
        border-radius: 0px 0px 40px 40px;
        padding: 0px 50px;
    }

    .result-container > h1{
        margin: 0;
        margin-block-start: 10px;
        font-size: 25px;
    }

    .result-container > h3{
        font-size: 15px;
    }

    .result-container .grade-container{
        padding-block-end: 0px;
        margin-block-start: 0px;
    }
    .summary-container{
        width: 320px;
        max-width: 320px;
    }
    .summary-container > button{
        margin-block-start: 0px;
    }

    .result-container .grade-container > p{
        margin-block-end: 25px;
    }
}